* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    color: white;
    background-color: #1F2937;
    padding: 0 220px;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;

    /* flex */
    display: flex;
    gap: 20px;
    margin: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

.header-logo-container{
    display: flex;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav.top{
    display: flex;
    justify-content: space-between;
}

.nav.bottom{
    display: flex;
    justify-content: space-between;

    padding: 100px 0;
}

.image-placeholder{
    width: 500px;
    height: 250px;
    background-color: rgba(168, 168, 199, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav-content{
    flex: 1;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sub-text{
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.7;
}

.sign-up{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 35px;
    margin: 13px 0 ;
}

